<div class="address-form">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm"  novalidate>
    <input type="text" name="entryname" placeholder="Entry Name" ngModel >
    <input type="text" name="companyname" placeholder="Company Name*" ngModel required>
    <input type="text" name="recipientname" placeholder="Recipient Name*" ngModel required>
    <input type="text" name="street1" placeholder="Street Line 1*" ngModel required>
    <input type="text" name="street2" placeholder="Street Line 2" ngModel>
    <input type="text" name="city" placeholder="City*" ngModel required>
    <input type="text" name="state" placeholder="State*" pattern="[A-Za-z]{2}" ngModel required>
    <input type="text" name="zip" placeholder="Zip*" pattern="^[0-9]{5}(?:-[0-9]{4})?$" ngModel required>
    <button>add address</button>
  </form>
</div>
