@import '~styles/variables';

header {
  width:100%;
  background:$blue;
  color:white;
  text-transform: uppercase;
  font-size:1em;
  text-align: center;
  padding:10px 0;
  margin-bottom:20px;
  font-weight:300;
}

.body-address {
  max-width:600px;
  width:95%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
